*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;

}

html,body{
    width:100%;
    overflow-x:hidden;
    background-image: url(home-page-desktop.jpg);
    background-size: cover;
    height:100%;
    }

.btn-custom{
    background-color: #ffebcc;
    border:solid, 0.8px;
}

/*TAILLE H1 NON RESPONSIVE, CHERCHER AUTRE SOLUTION*/
h1{
    font-size: 4em;
}

/* PAGE GALERIE CODE POUR IMAGE DE FOND */

.dropdown{
    float:right;
    margin-right: 5px;
}

/*MODE PETIT ECRAN*/

@media screen and (max-width: 780px){
    .dropdown{
        float:none;
        margin-left: 2%;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .galery{
        padding: 5%;
    }
}

/*PAGE TARIFS*/

.all-prestations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    margin: 10px;
}

.presta-pic{
    width:auto;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    display: flex;
}

.prestation{
    letter-spacing: 1.2px;
    font-style:italic;
    align-items: baseline;
    text-align: justify;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    margin: 5%;
}

.all-prestations, h3 {
    text-align: center;
    padding: 5%;
}

.detail-presta{
    padding:5%;
}

.favorite-styled{
    float:right;
    padding:5px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 34px;
    width: 150px;
    background-color: #d5e1db;
    border: none;
    border-radius: 7px;
    letter-spacing: 2px;
}


/*PAGE CONTACT*/

.full-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 36px -7px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 36px -7px rgba(171,171,171,1);
    box-shadow: 0px 0px 36px -7px rgba(171,171,171,1);
    border-radius: 20px;
    margin-bottom: 2rem;
    box-sizing: initial;
    backdrop-filter: blur(6px);
  }

.contact-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      flex-grow: 1;
  }
  
input, textarea, select {
    margin-bottom: 1rem;
    border-radius: 7px;
    padding: 0.3rem;
    border: solid 1px;
  }
  
textarea {
    max-width: 400px;
    letter-spacing: 1px;
    max-height: 100px;
  }
  
input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 11px -7px #bac4bf;
    -moz-box-shadow: 0px 0px 11px -7px #bac4bf;
    box-shadow: 0px 0px 11px -7px #bac4bf;
    border: solid 1px #d5e1db;
  }

label {
    margin-bottom: 0.5rem;
  }

  .section-header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    letter-spacing: 6px;
    margin-bottom: 25px;
  }

.form-horizontal {
    max-width: 450px;
    font-family: 'Lato';
    font-weight: 400;
  }

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 300px;
    background-color: #d5e1db;
    border: none;
    border-radius: 7px;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
.send-button:hover {
    cursor: pointer;
    color: white;
    background-color: #bac4bf;
  }